<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>商品详情</title>
</head>
<body>
	<table width="100%" border="1">
		<tr>
			<td colspan="7">详情：<%=item_info.description%></td>
		</tr>
		<tr>
			<td colspan="7">留言</td>
		</tr>
		<tr>
			<td>mes_no</td>
			<td>item_no</td>
			<td>parent_no</td>
			<td>student_no</td>
			<td>content</td>
			<td>publish_time</td>
			<td>operation</td>
		</tr>
		<% for(var i = 0 ; i < item_mes.length; i++){ %>
			<tr>
				<td><%=item_mes[i].mes_no%></td>
				<td><%=item_mes[i].item_no%></td>
				<td><%=item_mes[i].parent_no%></td>
				<td><%=item_mes[i].student_no%></td>
				<td><%=item_mes[i].content%></td>
				<td><%=item_mes[i].publish_time%></td>
				<td><a href="?act=del&item_no=<%=item_mes[i].item_no%>&student_no=<%=item_mes[i].student_no%>&mes_time=<%=item_mes[i].publish_time%>">删除</a>
				<a href="?act=mes">回复</a></td>
			</tr>
		<% } %>
	</table><br>

	<button name="seller">seller</button>
	<button name="buy">to buy</button><br>

	<a href="?act=mes">message</a>
	<a href="?act=col">collect</a><br>

	<% if(typeof mes != 'undefined'){ %>
	<form action="/home/trade/item_info/mes">
		<input type="text" name="message">
		<input type="submit" name="submit" value="sure">
	</form>
	<% } %>
	
</body>
</html>